.active-dashboard {
    text-align: center;
    width:250px;
    height: 100px;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 10px;
}

.remote {
    background-color: white;

}

.dismissed {
    background-color: white;
}
.welcome-grid {
    display: flex;
}
.pie-chart{
    background-color: white;
    margin-left: 20px;
    width: 250px;
    height: 330px;
    border-radius: 10px;
}

.dashboard-main{
    flex-direction: row;
}
@media (max-width:1024px){
    .dashboard-main{
        flex-direction: column !important;
    }
}
