.root-page-container {
  height: 100%;
  min-height: 100vh;
  /* height: fit-content; */
  background-color: white;
}

.root-content-container {
  /* height: 100%; */
}

.root-layout-container {
  height: 100%;
  background-color: rgb(255, 255, 255);
}

.sider-container {
  min-height: 100%;
  /* background-color: blanchedalmond; */
  /* background-color: aquamarine; */
  border-right: 1px solid #cecece;
}

.outlet-container {
  height: 100%;
  /* min-height: 100vh; */
  /* background-color: blanchedalmond; */
  padding: 0 25px;
}

.float-button {
  && .ant-float-btn-body {
    background: linear-gradient(135deg, #30d3cb, #2a9be6, #2a9be6);
  }

  && .ant-float-btn-body:hover {
    background: #2a9be6;
  }
}
